<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout/layout}"
      layout:fragment="Content">

<body>
<h1 class="mt-4">상품 관리</h1>

<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>상품 목록</h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead align="center">
                <tr>
                    <th>No</th>
                    <th>브랜드</th>
                    <th>카테고리</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>수정/삭제</th>
                </tr>
                </thead>
                <tbody align="center">
                <tr th:each="goods : ${goodsList}">
                    <td th:text="${goods.goodsNo}"></td>
                    <td th:text="${goods.brandName}"></td>
                    <td th:text="${goods.categoryName}"></td>
                    <td th:text="${goods.goodsName}"></td>
                    <td th:text="${goods.salePrice}"></td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>